{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if group %}

<div class="row my-3 p-3">
    <h1>{{ group.center.ticker }}_{{group.name}}</h1>
    <p><a href="{% url 'center' group.center.ticker %}">{{ group.center }}</a></p>
    <div>
        <p>{% trans "Group members" %}:</p>
        <ul>
        {% for member in members %}
            <li>{{member.user.username}} 
                {% if member.user == group.owner %}({% trans "Owner" %}){% endif %}
                {% if member.user.profile == user.profile %}({% trans "You" %}){% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
    
    {% if user == group.owner %}
        {% if user.profile.group.invite and not is_expired %}<br>
	        {% trans "Use this link to join the group:" %}<br>
	        <a href="{% url 'invite' user.profile.group.invite.code %}">https://{{ request.get_host }}{% url 'invite' user.profile.group.invite.code %}</a>
        {% else %}
            {% trans "There is no invite code for the group yet, you can create one here:" %}
            <form method="post" action="{% url 'invite_create' %}">
                {% csrf_token %}
                <input type="submit" value="{% trans 'Generate Invite Link' %}" />
            </form>
        {% endif %}
    {% endif %}

    {% if is_in_group %}
    <form method="post" action="{% url 'leave_group' %}">
        {% csrf_token %}
        <br>
        <input type="submit" value="{% trans 'Leave Group' %}" />
    </form>
    {% endif %}
</div>

{% else %}

    {% if not user.profile.group %}
        {% trans "You are not associated with any group, try to create a new one:" %}<br>

        {% if CAN_REGISTER %}

            {% trans "Create Group:" %}<br>
            <form method="post" action=".">
                {% csrf_token %} 
                <strong>{% trans "Note: Spaces are not allowed in the group name." %}</strong><br>

                {{ form.as_p }}

                <a href="{% url 'new_center' %}">{% trans "Create new center" %}</a><br>
            
                <input type="submit" value="{% trans 'New Group' %}" />
            </form>

        {% else %}
            {% trans "Sorry, the registertion has ended." %}
        {% endif %}

    {% endif %}

{% endif %}


{% endblock content %}
