{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Active Challenges" %}:</h1>
<ul>
{% for challenge in challenges %}
    <li>
        {% if challenge.get_my_model_name == "war" %}
        <a href="{% url 'war_page' challenge.id %}">{{ challenge.title }}</a> ( {{ challenge.start_date }} -> {{ challenge.end_date }} )
        {% endif %}

        {% if challenge.get_my_model_name == "riddle" %}
        <a href="{% url 'riddle_page' challenge.id %}">{{ challenge.title }}</a> ( {{ challenge.start_date }} -> {{ challenge.end_date }} )
        {% endif %}
        - {% if challenge.active %}{% trans "Active" %}{% else %}{% trans "Inactive" %}{% endif %}
    </li>
{% empty %}
    {% trans "No challenges yet." %}
{% endfor %}
</ul>

{% endblock %}
