{% extends "base.html" %}
{% load i18n %}

{% block content %}

<b>{{ challenge.title }}</b> ( {{ challenge.start_date }} -> {{ challenge.end_date }} )
<h2>{% trans "Description" %}:</h2>{{ challenge.description }}<br>
{% trans "Status" %}: <strong>{% if challenge.active %}{% trans "Active" %}{% else %}{% trans "Inactive" %}{% endif %}</strong>
<br>

{% if challenge.active %}

    {% if user.profile.group %}
        {% block 'challenge_fields' %}{% endblock %}
    {% else %}
        {% trans "You must have a group to participate in a challenge." %}
    {% endif %}

{% else %}
    {% trans "Challenge ended!" %}
{% endif %}

{% endblock %}
